header{
    padding: 24px;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: all 0.5s ease;
    .burger-menu{
        display: none;
        transition: all 0.9s ease;
        padding: 5px 0;
        
    }
    .active{
        @include headerFooter(){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .burger-menu-a{
            text-decoration: none;
            padding: 5px 10px;
            color: #0F172A;
        }
    }
    
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            font-size: 32px;
            font-weight: 700;
            line-height: 110%;
            color: #0F172A;
        }
        .nav{
            display: flex;
            flex-direction: row;
            gap: 16px;
            @include headerFooter(){
                display: none;
            }
            .a-nav{
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px; /* 150% */
                letter-spacing: 0.5px;
                color: #0F172A;
            }
        }
        .menu{
            display: none;
            @include headerFooter(){
                display: flex;
            }
        }
        .login{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 16px;
            @include headerFooter(){
                display: none;
            }
            .login-p{
                text-decoration: none;
                color: #2563EB;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px; /* 150% */
                letter-spacing: 0.5px;
            }
            .sign-up{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                padding: 10px;
                border-radius: 8px;
                border: 2px solid #2563EB;
                background: #2563EB;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px; /* 150% */
                letter-spacing: 0.5px;
                cursor: pointer;
            }
        }
    }
}