body{
    margin: 0;
    font-family: 'Roboto',sans-serif;
    .projects{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        align-items: center;
        padding: 80px;
        .projects-text{
            display: flex;
            flex-direction: column;
            gap: 24px;
            .projects-h1{
                font-size: 72px;
                color: #0F172A;
                font-weight: 800;
                line-height: 110%;
                margin-bottom: 0;
            }
            .projects-p{
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                color: #475569;
                margin: 0;
            }
            .input-email{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 16px;
                .email-icon{
                    margin-right: -50px;
                    z-index: 1;
                }
                .email-text{
                    display: flex;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 140%;
                    padding: 12px 35px;
                    align-items: center;
                    border-radius: 8px;
                    border: 1px solid #CBD5E1;
                    background:#fff;
                    width: 60%;
                    padding-right: 15px;
                }
                .sign-up{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px;
                    justify-content: center;
                    border-radius: 8px;
                    border: 2px solid #2563EB;
                    background: #2563EB;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px; /* 150% */
                    letter-spacing: 0.5px;
                    cursor: pointer;
                    .arrow-right{

                    }
                }
            }
        }
        .projects-partners{
            display: flex;
            flex-direction: row;
            background: #F1F5F9;
            border-radius: 8px;
            padding: 16px;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    .work{
        display: flex;
        flex-direction: row;
        gap: 80px;
        justify-content: center;
        align-items: center;
        padding: 80px;
        .work-imgs{
            display: flex;
            flex-direction: row;
            gap: 16px;

            .work-1{
                margin-top: 80px;
            }
            .work-2{
                margin-bottom: 80px;
            }
            .work-3{
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
        .work-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            .work-h1{
                font-size: 56px;
                font-weight: 800;
                line-height: 110%;
                margin: 0;
            }
            .work-p{
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                margin: 0;
            }
            .work-more{
                display: flex;
                flex-direction: row;
                align-items: center;
                .work-more-a{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px; /* 150% */
                    letter-spacing: 0.5px;
                    color: #2563EB;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    cursor: pointer;
                }
            }
        }
    }
    .tools{
        display: flex;
        flex-direction: row;
        padding: 80px;
        gap: 120px;
        margin-bottom: 80px;
        .tools-text{
            gap: 24px;
            display: flex;
            flex-direction: column;
            .tools-h1{
                font-size: 56px;
                font-weight: 800;
                line-height: 110%;
                margin-bottom: 0;
            }
            .tools-p{
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                margin: 0;
            }
            .tools-more{
                .tools-more-a{
                    color: #2563EB;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    cursor: pointer;
                }
            }
        }
    }
    .problems{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 80px;
        background-color: linear-gradient(0deg, rgba(88, 28, 135, 0.75) 0%, rgba(88, 28, 135, 0.75) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        .problems-div{
            display: flex;
            justify-content: flex-end;
            padding: 80px;
            border-radius: 30px;
            background-image: url(../img/baloons.jpg);
            .space{
                content: '';
                width: 600px ;
                max-width: 600px;
                max-height: 200px;
            }
            .problems-text{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 24px;
                .problems-h1{
                    font-size: 56px;
                    font-weight: 800;
                    line-height: 110%;
                    color: #fff;
                    margin: 0;
                }
                .problems-p{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 160%;
                    color: #fff;
                    margin: 0;
                }
                .problems-more{
                    .problems-more-a{
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px; /* 150% */
                        letter-spacing: 0.5px;
                        color: #fff;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-decoration: none;
                        gap: 16px;
                    }
                }
            }
        }
    }
    .improve{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 80px;
        margin-bottom: 80px;
        gap: 80px;
        .improve-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 24px 0px;
            gap: 24px;
            .improve-h1{
                font-size: 56px;
                font-weight: 800;
                line-height: 110%;
                color: #0F172A;
                margin: 0;
            }
            .btn-improve{
                display: flex;
                flex-direction: row;
                gap: -1px;
                .choose{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 110%;
                    color: #0F172A;
                    padding: 16px 32px;
                    border: 1px solid #CBD5E1;
                    background: #fff;
                    cursor: pointer;
                    
                }
                .active{
                        background: #F1F5F9;
                    }
                .choose:nth-child(3){
                    border-radius: 0px 8px 8px 0px;
                }
                .choose:nth-child(1){
                    border-radius: 8px 0px 0px 8px;
                }

            }
            .improve-p{
                color: #475569;
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
            }
            .improve-more{
                display: flex;
                flex-direction: row;
                align-items: center;
                text-decoration: none;
                color: #2563EB;
                gap: 16px;
            }
        }
    }
    .join{
        display: flex;
        padding: 80px;
        border-radius: 30px;
        margin: 0 80px;
        background: linear-gradient(99deg, #312E81 0%, #1E40AF 0.01%, #1E3A8A 46%, #701A75 96.97%);
        .join-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            .join-h1{
                font-size: 56px;
                text-align: center;
                color: #fff;
                font-weight: 800;
                line-height: 110%;
                margin: 0;
            }
            .join-p{
                text-align: center;
                color: #fff;
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                margin: 0;
            }
            .join-more{
                padding: 15px 24px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 8px;
                border: 2px solid #2563EB;
                background: #2563EB;
                color: #fff;
                gap: 16px;
                font-size: 24px;
                font-weight: 700;
                line-height: 24px; /* 100% */
                letter-spacing: 0.5px;
                cursor: pointer;
            }
        }
    }
    footer{
        .footer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 80px;
            .logo-teams{
                display: flex;
                flex-direction: row;
                align-items: center;
                .logo-footer{
                    margin: 0;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 110%;
                    color: #0F172A;
                }
                .footer-p{
                    margin: 0;
                }
            }
            .nav-footer{
                display: flex;
                flex-direction: row;
                gap: 24px;
                .a-nav-footer{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 140%;
                    color: #475569;
                    text-decoration: none;
                }
            }
        }
    }
}