$breakpoint_desktop: 1919px;
$breakpoint_laptop: 1439px;
$breakpoint_small_laptop: 1373px;
$breakpoint_tabletHorizontal: 1023px;
$breakpoint_tabletVertical: 767px;
$breakpoint_mobile: 424px;
$breakpoint_small_mega_mobile:335px;
$breakpoint_small_mobile:335px;
$breakpoint_for_footer:1173px;
$breakpoint_for_swiper_second:794px;
$breakpoint_for_cards_second:400px;
$breakpoint_for_columns:1230px;
$breakpoint_for_partners:1325px;
$breakpoint_for_text:954px;
$breakpoint_for_header_and_footer:890px;
$breakpoint_for_imgs:679px;
$breakpoint_for_back_imgs:530px;
$breakpoint_for_pads:425px;
$breakpoint_for_all:375px;