:root {
  --container: 1400px;
}
@media (max-width: 1373px) {
  :root {
    --container: 1400px;
  }
}
@media (max-width: 1023px) {
  :root {
    --container: 1240px;
  }
}
@media (max-width: 767px) {
  :root {
    --container: 880px;
  }
}
@media (max-width: 424px) {
  :root {
    --container: 375px;
  }
}

.container {
  max-width: var(--container);
  margin: 0 auto;
}

header {
  padding: 24px;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: all 0.5s ease;
}
header .burger-menu {
  display: none;
  transition: all 0.9s ease;
  padding: 5px 0;
}
@media (max-width: 890px) {
  header .active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header .active .burger-menu-a {
  text-decoration: none;
  padding: 5px 10px;
  color: #0F172A;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .logo {
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  color: #0F172A;
}
header .header .nav {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
@media (max-width: 890px) {
  header .header .nav {
    display: none;
  }
}
header .header .nav .a-nav {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  color: #0F172A;
}
header .header .menu {
  display: none;
}
@media (max-width: 890px) {
  header .header .menu {
    display: flex;
  }
}
header .header .login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media (max-width: 890px) {
  header .header .login {
    display: none;
  }
}
header .header .login .login-p {
  text-decoration: none;
  color: #2563EB;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
header .header .login .sign-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #2563EB;
  background: #2563EB;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body .projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  align-items: center;
  padding: 80px;
}
@media (max-width: 679px) {
  body .projects {
    padding-top: 0;
  }
}
@media (max-width: 1230px) {
  body .projects {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 530px) {
  body .projects {
    padding: 40px;
  }
}
@media (max-width: 679px) {
  body .projects .projects-img {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 679px) {
  body .projects .projects-img .project-img {
    width: 80%;
  }
}
@media (max-width: 530px) {
  body .projects .projects-img .project-img {
    width: 100%;
  }
}
body .projects .projects-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 1230px) {
  body .projects .projects-text {
    align-items: center;
  }
}
body .projects .projects-text .projects-h1 {
  font-size: 72px;
  color: #0F172A;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 0;
}
@media (max-width: 954px) {
  body .projects .projects-text .projects-h1 {
    text-align: center;
  }
}
@media (max-width: 679px) {
  body .projects .projects-text .projects-h1 {
    font-size: 56px;
    margin: 0;
  }
}
@media (max-width: 375px) {
  body .projects .projects-text .projects-h1 {
    font-size: 48px;
  }
}
body .projects .projects-text .projects-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #475569;
  margin: 0;
}
@media (max-width: 954px) {
  body .projects .projects-text .projects-p {
    text-align: center;
  }
}
@media (max-width: 375px) {
  body .projects .projects-text .projects-p {
    font-size: 16px;
  }
}
body .projects .projects-text .input-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
body .projects .projects-text .input-email .email-icon {
  margin-right: -50px;
  z-index: 1;
}
@media (max-width: 1230px) {
  body .projects .projects-text .input-email .email-icon {
    display: none;
  }
}
body .projects .projects-text .input-email .email-text {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  padding: 12px 35px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #CBD5E1;
  background: #fff;
  width: 60%;
  padding-right: 15px;
}
body .projects .projects-text .input-email .sign-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #2563EB;
  background: #2563EB;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  cursor: pointer;
}
body .projects .projects-partners {
  display: flex;
  flex-direction: row;
  background: #F1F5F9;
  border-radius: 8px;
  padding: 16px;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1325px) {
  body .projects .projects-partners {
    display: grid;
    grid-template-columns: 125px 125px;
    row-gap: 16px;
    justify-content: center;
    column-gap: 32px;
  }
}
body .work {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
@media (max-width: 1230px) {
  body .work {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
@media (max-width: 530px) {
  body .work {
    padding: 40px;
  }
}
body .work .work-imgs {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
@media (max-width: 375px) {
  body .work .work-imgs {
    gap: 8px;
  }
}
body .work .work-imgs .work-1 {
  margin-top: 80px;
}
@media (max-width: 679px) {
  body .work .work-imgs .work-1 {
    max-height: 280px;
  }
}
@media (max-width: 530px) {
  body .work .work-imgs .work-1 {
    max-height: 200px;
  }
}
body .work .work-imgs .work-2 {
  margin-bottom: 80px;
}
@media (max-width: 679px) {
  body .work .work-imgs .work-2 {
    max-height: 280px;
  }
}
@media (max-width: 530px) {
  body .work .work-imgs .work-2 {
    max-height: 200px;
  }
}
body .work .work-imgs .work-3 {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 679px) {
  body .work .work-imgs .work-3 {
    max-height: 280px;
  }
}
@media (max-width: 530px) {
  body .work .work-imgs .work-3 {
    max-height: 200px;
  }
}
body .work .work-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
body .work .work-text .work-h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  margin: 0;
}
@media (max-width: 679px) {
  body .work .work-text .work-h1 {
    font-size: 48px;
  }
}
@media (max-width: 375px) {
  body .work .work-text .work-h1 {
    font-size: 32px;
  }
}
body .work .work-text .work-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}
@media (max-width: 375px) {
  body .work .work-text .work-p {
    font-size: 16px;
  }
}
body .work .work-text .work-more {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .work .work-text .work-more .work-more-a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  color: #2563EB;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
body .tools {
  display: flex;
  flex-direction: row;
  padding: 80px;
  gap: 120px;
  margin-bottom: 80px;
  justify-content: center;
}
@media (max-width: 530px) {
  body .tools {
    padding: 40px;
  }
}
@media (max-width: 1230px) {
  body .tools {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
@media (max-width: 679px) {
  body .tools .tools-img {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 679px) {
  body .tools .tools-img .tool-img {
    max-width: 80%;
  }
}
@media (max-width: 530px) {
  body .tools .tools-img .tool-img {
    width: 110%;
    max-width: none;
  }
}
body .tools .tools-text {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
body .tools .tools-text .tools-h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 0;
}
@media (max-width: 679px) {
  body .tools .tools-text .tools-h1 {
    font-size: 48px;
  }
}
@media (max-width: 375px) {
  body .tools .tools-text .tools-h1 {
    font-size: 32px;
  }
}
body .tools .tools-text .tools-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}
@media (max-width: 375px) {
  body .tools .tools-text .tools-p {
    font-size: 16px;
  }
}
body .tools .tools-text .tools-more .tools-more-a {
  color: #2563EB;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
body .problems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
  background-color: linear-gradient(0deg, rgba(88, 28, 135, 0.75) 0%, rgba(88, 28, 135, 0.75) 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
}
body .problems .problems-div {
  display: flex;
  justify-content: flex-end;
  padding: 80px;
  border-radius: 30px;
  background-image: url(../img/baloons.jpg);
}
@media (max-width: 679px) {
  body .problems .problems-div {
    padding: 40px;
  }
}
body .problems .problems-div .space {
  content: "";
  width: 600px;
  max-width: 600px;
  max-height: 200px;
}
@media (max-width: 1230px) {
  body .problems .problems-div .space {
    display: none;
  }
}
body .problems .problems-div .problems-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}
@media (max-width: 1230px) {
  body .problems .problems-div .problems-text {
    align-items: flex-start;
  }
}
body .problems .problems-div .problems-text .problems-h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  color: #fff;
  margin: 0;
}
@media (max-width: 679px) {
  body .problems .problems-div .problems-text .problems-h1 {
    font-size: 48px;
  }
}
@media (max-width: 375px) {
  body .problems .problems-div .problems-text .problems-h1 {
    font-size: 32px;
  }
}
body .problems .problems-div .problems-text .problems-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #fff;
  margin: 0;
}
@media (max-width: 375px) {
  body .problems .problems-div .problems-text .problems-p {
    font-size: 16px;
  }
}
body .problems .problems-div .problems-text .problems-more .problems-more-a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  gap: 16px;
}
body .improve {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px;
  margin-bottom: 80px;
  gap: 80px;
}
@media (max-width: 1230px) {
  body .improve {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 0;
  }
}
@media (max-width: 530px) {
  body .improve {
    padding: 40px;
  }
}
@media (max-width: 679px) {
  body .improve .improve-img {
    display: flex;
    justify-content: center;
  }
}
body .improve .improve-img .improve-deskstop {
  transition: opacity 0.5s ease;
}
@media (max-width: 679px) {
  body .improve .improve-img .improve-deskstop {
    max-width: 80%;
  }
}
@media (max-width: 530px) {
  body .improve .improve-img .improve-deskstop {
    width: 110%;
    max-width: none;
  }
}
body .improve .improve-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px;
  gap: 24px;
}
body .improve .improve-text .improve-h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  color: #0F172A;
  margin: 0;
}
@media (max-width: 679px) {
  body .improve .improve-text .improve-h1 {
    font-size: 48px;
  }
}
@media (max-width: 375px) {
  body .improve .improve-text .improve-h1 {
    font-size: 32px;
  }
}
body .improve .improve-text .btn-improve {
  display: flex;
  flex-direction: row;
  gap: -1px;
}
body .improve .improve-text .btn-improve .choose {
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  color: #0F172A;
  padding: 16px 32px;
  border: 1px solid #CBD5E1;
  background: #fff;
  cursor: pointer;
  transition: 0.5s ease;
}
@media (max-width: 375px) {
  body .improve .improve-text .btn-improve .choose {
    padding: 8px 16px;
  }
}
body .improve .improve-text .btn-improve .choose:hover {
  background: #F1F5F9;
}
body .improve .improve-text .btn-improve .active {
  background: #F1F5F9;
}
body .improve .improve-text .btn-improve .choose:nth-child(3) {
  border-radius: 0px 8px 8px 0px;
}
body .improve .improve-text .btn-improve .choose:nth-child(1) {
  border-radius: 8px 0px 0px 8px;
}
body .improve .improve-text .improve-p {
  color: #475569;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}
@media (max-width: 375px) {
  body .improve .improve-text .improve-p {
    font-size: 16px;
  }
}
body .improve .improve-text .improve-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #2563EB;
  gap: 16px;
}
body .join {
  display: flex;
  padding: 80px;
  border-radius: 30px;
  margin: 0 80px;
  justify-content: center;
  background: linear-gradient(99deg, #312E81 0%, #1E40AF 0.01%, #1E3A8A 46%, #701A75 96.97%);
}
@media (max-width: 679px) {
  body .join {
    margin: 0;
  }
}
@media (max-width: 425px) {
  body .join {
    padding: 40px;
  }
}
@media (max-width: 375px) {
  body .join {
    padding: 20px;
  }
}
body .join .join-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
body .join .join-text .join-h1 {
  font-size: 56px;
  text-align: center;
  color: #fff;
  font-weight: 800;
  line-height: 110%;
  margin: 0;
}
@media (max-width: 679px) {
  body .join .join-text .join-h1 {
    font-size: 48px;
  }
}
@media (max-width: 375px) {
  body .join .join-text .join-h1 {
    font-size: 32px;
  }
}
body .join .join-text .join-p {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}
@media (max-width: 375px) {
  body .join .join-text .join-p {
    font-size: 16px;
  }
}
body .join .join-text .join-more {
  padding: 15px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #2563EB;
  background: #2563EB;
  color: #fff;
  gap: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
  cursor: pointer;
}
body footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px;
}
@media (max-width: 890px) {
  body footer .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
@media (max-width: 530px) {
  body footer .footer {
    padding: 0px 16px;
    margin-top: 40px;
  }
}
body footer .footer .logo-teams {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 890px) {
  body footer .footer .logo-teams {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
body footer .footer .logo-teams .logo-footer {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
  color: #0F172A;
  cursor: pointer;
}
body footer .footer .logo-teams .footer-p {
  margin: 0;
}
body footer .footer .nav-footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
@media (max-width: 530px) {
  body footer .footer .nav-footer {
    gap: 12px;
  }
}
@media (max-width: 425px) {
  body footer .footer .nav-footer {
    display: grid;
    grid-template-columns: 100px 100px;
  }
}
body footer .footer .nav-footer .a-nav-footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #475569;
  text-decoration: none;
}
@media (max-width: 530px) {
  body br {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
